<div class="wrapper">
  <div
    class="page-header page-header-xs settings-background"
    style="background-image: url('./assets/img/contactus.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <h1 class="title">お問い合わせ</h1>
        <h5 class="description">お問い合わせ内容を入力してください</h5>
      </div>
    </div>
  </div>
  <div class="space-top"></div>

  <div class="container">
    <div class="row" *ngIf="userData">
      <div class="col-md-8 mr-auto ml-auto">
        <h3 class="card-title text-center">Contact Us</h3>
        <div class="card-body">
          <form
            [formGroup]="contactusForm"
            (ngSubmit)="sendMessage(contactusForm)"
          >
            <div class="row">
              <div class="col-md-6">
                <label>お名前 </label>
                <div class="form-group">
                  <p>{{ userData.username }}</p>
                </div>
              </div>
              <div class="col-md-6">
                <label>返信先メールアドレス </label>
                <div class="form-group">
                  <p>{{ userData.email }}</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>お問い合わせ内容 <span class="icon-danger">*</span></label>
              <textarea
                formControlName="msg"
                type="text"
                class="form-control"
                rows="4"
                placeholder="お問い合わせ内容を入力してください."
                required
              >
              </textarea>
            </div>
            <div *ngIf="isInvalidForm('msg')" class="alert alert-danger">
              <div *ngIf="contactusForm.controls['msg'].errors?.['required']">
                お問い合わせ内容を入力してください.
              </div>
            </div>
            <div *ngIf="errorResponse" class="alert alert-danger">
              ネットワークエラー。しばらく経ってからもう一度お試しください。
            </div>
            <div class="text-center">
              <button
                [disabled]="!contactusForm.valid"
                type="submit"
                class="btn btn-primary btn-block btn-round btn-lg"
              >
                この内容で送信
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="faq">
      <h2 class="card-title text-center"><small>よくある質問</small></h2>
      <br />
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0 panel-title">
              <a class="collapsed">
                レッスンカレンダーの使い方を教えてください
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
            レッスンカレンダーは毎月のレッスンを管理するカレンダーです。<br />
            生徒側/先生側で使い方が変わってきますが、基本は以下の流れです。<br />
            <br />
            ①先生が生徒を探す(右上のメニューから生徒管理→生徒を通過するで生徒の名前を検索してください)<br /><br />
            ②探している生徒が見つかったら右の＋ボタンを押してリクエストを送る<br /><br />
            ③生徒が右上のメニューから通知ページに行き、リクエスト承認ボタンを押す。<br /><br />
            ここまでが最初に必ず行っていただく初期設定のようなものです。<br />
            その後は④⑤で毎月簡単にレッスン予約が行えます。<br /><br />
            ④生徒が予約するボタンから予約したい日にちを決める。<br /><br />
            ⑤予約が確定し生徒/先生側の両方から見れる<br /><br />
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0 panel-title">
              <a class="collapsed">
                利用にお金がかかりますか？
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
            現時点では無料でお使いいただけます。
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0 panel-title">
              <a class="collapsed">
                googleカレンダーと連携はできますか
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
            今後要望が多い場合は対応していく予定です。是非皆様のお声をお聞かせください。
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
