<div class="container">
  <div class="space-top"></div>
  <div class="row landing_top">
    <div class="col-md-8">
      <div class="row">
        <div class="container">
          <h2 class="title">
            『デジタル問診票』なら<br />
            初診受付業務を70%減らせる
          </h2>
          <h4 class="info-title">
            紙の問診票の印刷、在庫管理、棚から探す必要ぜんぶ無し！
          </h4>
          <div class="space-50"></div>
          <div class="row landing_hero">
            <!-- <a
              [routerLink]="['/contactus']"
              (click)="clickEvent('Top contactus button clicked!')"
              class="btn btn-outline-primary btn-lg mr-1 ml-1 landing_hero_button"
              ><i class="fa fa-envelope-o"></i> お問い合わせはこちら</a
            > -->
            <!-- <button
              (click)="modalDemoBookingOpen()"
              class="btn btn-primary btn-lg mr-1 ml-1 landing_hero_button"
            >
              <i class="fa fa-tv"></i> 無料オンラインデモ予約はこちら
            </button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ml-auto">
      <div class="iphone-container">
        <img
          class="landing_top_iphone_img"
          src="assets/img/sections/iphone-digimon.png"
        />
      </div>
    </div>
  </div>
</div>
<div class="space-50"></div>
<div
  class="team-2 section-image"
  style="background-image: url('./assets/img/landing/neck_back.jpg')"
>
  <div class="filter">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">紙の問診票、ここがネック</h2>
          <h5 class="description"></h5>
          <br />
        </div>
      </div>
      <div class="container-cards">
        <div class="row">
          <div class="col-md-3 col-6">
            <div class="card card-just-text">
              <div class="card-body text-center card_body_ne">
                <img class="card" src="assets/img/landing/neck1.png" />
                <p class="card-description">紙の問診票は置き場所にも一苦労</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="card card-hover-effect card-just-text">
              <div class="card-body text-center card_body_ne">
                <img class="card" src="assets/img/landing/neck2.png" />
                <p class="card-description">紙もペンもコロナ感染のリスクに</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="card card-hover-effect card-just-text">
              <div class="card-body text-center card_body_ne">
                <img class="card" src="assets/img/landing/neck3.png" />
                <p class="card-description">
                  患者さんに書いてもらった字が読めない
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="card card-hover-effect card-just-text">
              <div class="card-body text-center card_body_ne">
                <img class="card" src="assets/img/landing/neck4.png" />
                <p class="card-description">日本語だから外国人対応が厳しい</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--     *********    COMPANIES ISSUES     *********      -->
<div class="container text-center">
  <div class="space-50"></div>
  <div class="row">
    <div class="col-md-9 ml-auto mr-auto">
      <h2 class="title">ペーパーレス化で雑務を減らせます</h2>
      <h6 class="category">
        今までアナログで行なってたことを、デジタルにすることで業務効率を可能にします
      </h6>
    </div>
  </div>
</div>
<div class="space-50"></div>
<div class="blog-3">
  <div class="container">
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <div class="card card-plain card-blog">
          <div class="row">
            <div class="col-md-4">
              <div class="space-top"></div>
              <div class="card-image">
                <img class="img" src="assets/img/landing/monshinhyo.jpg" />
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h6 class="card-category text-danger">
                  <i class="fa fa-free-code-camp" aria-hidden="true"></i>
                  Problem
                </h6>
                <h3 class="card-title">
                  紙の問診票は場所を取るけど、データは取れない
                </h3>
                <p class="card-description">
                  「あの問診票、どこに行ったかわからなくなっちゃった」<br />
                  「この前来た患者さんの問診票、検索でパッと出したいな」<br />
                  「コロナ禍で非接触対応が求められるようになったけど、問診票対応がまだ...」<br />
                  「日本語があまりわからない患者さんが来たときに、多言語対応している問診票があったら困っていることを聞き出しやすいのになぁ」<br /><br />
                  といったことはございませんか？
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-plain card-blog">
          <div class="row">
            <div class="col-md-8">
              <div class="card-body">
                <h6 class="card-category text-info">Go to digital</h6>
                <h3 class="card-title">
                  家からでも入力できる問診票で待合室の混雑を解消
                </h3>
                <p class="card-description">
                  初めて来院される患者さんには必ず記入してもらう問診票。
                  今までは実際に来院されてから書いてもらっていたものを事前にお家から入力できることにより、待合室の混雑を防ぐことができる！<br />
                  来院後に入力してもらうのももちろん可能です。
                </p>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>

        <div class="card card-plain card-blog">
          <div class="row">
            <div class="col-md-8">
              <div class="card-body">
                <h6 class="card-category text-primary">Paperless</h6>
                <h3 class="card-title">ペーパーレスでコロナ対策もばっちり</h3>
                <p class="card-description">
                  紙を使わないので、非接触でコロナ対策もばっちり
                  患者さんのスマホからあらかじめ用意したQRコードを読み取ってもらうだけだから問診票の在庫いらず！
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <!-- <div class="card-image">
                  <img class="img" src="assets/img/faces/trust.svg" />
                </div> -->
            </div>
          </div>
        </div>

        <div class="card card-plain card-blog">
          <div class="row">
            <div class="col-md-8">
              <div class="card-body">
                <h6 class="card-category text-success">Improvement</h6>
                <h3 class="card-title">
                  新患の電子カルテ登録もデジタル問診票を使えば時間短縮に！
                </h3>
                <p class="card-description">
                  初回来院時にデジタル問診票を入力してもらえば、その後のデータ登録や保管、検索もラクラク！<br />
                  今まで時間のかかっていたことが解消されて一気に業務効率化を実現します
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <!-- <div class="card-image">
                  <img class="img" src="assets/img/faces/work-life.svg" />
                </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--     *********     ３ステップで完了するデジタル問診票    *********      -->
<div class="features-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto text-center">
        <h2 class="title">３ステップで完了するデジタル問診票</h2>
        <h5 class="description">
          子供から高齢者まで難なく使える設計で簡単に予約ができます
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="space-top"></div>
        <div class="iframe-container">
          <iframe
            src="https://www.youtube.com/embed/Oxk8_2KNAiI?modestbranding=1&autohide=1&showinfo=0"
            frameborder="0"
            allowfullscreen
            height="305"
          ></iframe>
        </div>
      </div>
      <div class="col-md-6" style="flex-grow: 1">
        <div class="info info-horizontal info-nomaxwidth">
          <div class="icon icon-info">
            <img class="icon_step" src="assets/img/landing/step1.png" />
          </div>
          <div class="description">
            <h4 class="info-title">01.用意されたQRコードをスマホで読み取り</h4>
            <p>
              今や誰でも持っているスマホからQRコードを読み取るだけで簡単！<br />
              万一スマホを持っていなくても医院側からも入力できます。
            </p>
          </div>
        </div>
        <div class="info info-horizontal info-nomaxwidth">
          <div class="icon icon-success">
            <img class="icon_step" src="assets/img/landing/step2.png" />
          </div>
          <div class="description">
            <h4 class="info-title">02.指示に沿って項目を入力</h4>
            <p>
              デジタル問診票で指示に沿って項目を入力。見やすい画面で全世代が使いやすいデザイン
            </p>
          </div>
        </div>
        <div class="info info-horizontal info-nomaxwidth">
          <div class="icon icon-danger">
            <img class="icon_step" src="assets/img/landing/step3.png" />
          </div>
          <div class="description">
            <h4 class="info-title">03.送信ボタンをタップ</h4>
            <p>
              入力が済んだら送信ボタンをタップするだけ！<br />
              医院側の管理画面にデータが自動で保存、蓄積します
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--     *********    よくある質問     *********      -->
<div class="section section-team cd-section team-4">
  <div class="container">
    <h2 class="title text-center">よくある質問</h2>
    <div class="space-50"></div>
    <div class="col-md-10 ml-auto mr-auto">
      <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
        <ngb-panel id="config-panel-one">
          <ng-template ngbPanelTitle>
            <h5 class="mb-0 panel-title">
              <a class="collapsed">
                申し込みから開始までの目安期間はどのくらいですか？
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
            申し込みから最短翌日、遅くても三日以内に開始できます
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0 panel-title">
              <a class="collapsed">
                申し込み前にお試し利用することはできますか
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
            １週間のお試しがご利用できます。説明動画から使い方を試聴後、試していただくとスムーズです。
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0 panel-title">
              <a class="collapsed">
                ホームページがないのですが導入可能ですか？
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
            QRコードからデジタル問診票にアクセスできるので、ホームページがなくても問題ないです。<br />
            HPをお持ちの際は、HP経由でアクセスできるようにも設定可能です。<br />
            医院様側はパソコンで管理画面を見ることをお勧めしています。パソコンがインターネットと接続していない場合は、レンタルでインターネットと接続しているiPadを貸出しています。
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0 panel-title">
              <a class="collapsed">
                高齢者が多い医院でも導入できますか？
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
            もちろん導入可能です。高齢の方にも使ってもらいやすい設計、デザインになっております
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
<!-- 料金 -->
<div class="pricing-5 section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="title text-center">プランを選ぶ</h2>
        <br />
        <p class="description text-gray">
          デジタル問診票の管理画面はiPad以上の画面サイズを推奨しています。iPadをお持ちでない方はiPadレンタルプランをご利用ください
        </p>
      </div>
      <div class="col-md-8">
        <div class="choose-plan">
          <!-- <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper"> -->
          <ul
            ngbNav
            #nav="ngbNav"
            [(activeId)]="activeTab1"
            type="pills"
            class="nav-pills-danger justify-content-center"
          >
            <li class="nav-item" [ngbNavItem]="1">
              <!-- <a class="nav-link" ngbNavLink> Personal</a> -->
              <ng-template ngbNavContent>
                <div class="space-top"></div>
                <div class="row">
                  <div class="col-md-6">
                    <a
                      target="_blank"
                      href="https://buy.stripe.com/14kbJB5q44Uz2Mo5kk"
                    >
                      <div class="card card-pricing">
                        <div class="card-body">
                          <h6 class="card-category text-primary">通常プラン</h6>
                          <h1 class="card-title card-pricing-h1">
                            <span class="pricing-strong">10,000</span>円~/月
                          </h1>
                          <ul>
                            <li><b>パソコンまたはiPadを所持している</b></li>
                            <li><b>インターネット環境がある</b></li>
                            <li>
                              <b
                                >初回月は<s>10,000円</s>→
                                <span class="red">5000円</span></b
                              >
                            </li>
                          </ul>
                          <!-- <a href="javascript:void(0)" class="btn btn-primary btn-round">お問い合わせはこち</a> -->
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-6">
                    <div class="card card-pricing" data-color="orange">
                      <a
                        target="_blank"
                        href="https://buy.stripe.com/9AQ8xp2dS3Qv2Mo001"
                      >
                        <div class="card-body">
                          <h6 class="card-category text-success">
                            iPadレンタルプラン
                          </h6>
                          <h1 class="card-title card-pricing-h1">
                            <span class="pricing-strong">30,000</span>円〜/月
                          </h1>
                          <ul>
                            <li><b>ネット環境不要</b></li>
                            <li><b>iPad一台貸し出し</b></li>
                            <li><b>13ヶ月継続利用でiPad贈呈</b></li>
                          </ul>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
          <!-- </div>
              </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!--     *********    TESTIMONIALS 1     *********      -->

<div
  class="testimonials-1 section-image"
  style="background-image: url('assets/img/sections/uriel-soberanes.jpg')"
>
  <div class="container">
    <div class="text-center">
      <h2 class="title">
        明日の診療からすぐに使える<br />
        『デジタル問診票』<br />
        を気軽に使ってみませんか？
      </h2>
      <h5 class="description">
        今すぐ始められて誰でも簡単に使えるから 手間なく、コストも削減できる
      </h5>
    </div>
    <div class="space-top"></div>
    <div class="row landing-last-buttons landing_hero">
      <!-- <a
        [routerLink]="['/contactus']"
        (click)="clickEvent('Buttom contactus button clicked!')"
        class="btn btn-primary btn-lg mr-1 ml-1 landing_hero_button"
        ><i class="fa fa-envelope-o"></i> お問い合わせはこちら</a
      >
      <button
        (click)="modalDemoBookingOpen()"
        class="btn btn-primary btn-lg mr-1 ml-1 landing_hero_button"
      >
        <i class="fa fa-tv"></i> 無料オンラインデモ予約はこちら
      </button> -->
    </div>
  </div>
</div>

<footer class="footer section-nude">
  <div class="container">
    <!-- <div class="row">
      <nav class="footer-nav">
        <ul>
          <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
          <li><a href="http://blog.creative-tim.com">Blog</a></li>
          <li><a href="https://www.creative-tim.com/license">Licenses</a></li>
        </ul>
      </nav>
    </div> -->
  </div>
</footer>
