<div class="space-110"></div>
<!-- 自動レッスン予約で寝てても仕事が入ってくる！ -->
<div class="container">
  <div class="row flex_directon_reverse">
    <div class="col-md-7">
      <div class="container">
        <h2 class="title">
          自動レッスン予約で<br /><span style="font-weight: bold">寝てても</span
          >仕事が入ってくる！
        </h2>
        <h5 class="info-title">
          先生の代わりにスケジュールを24時間管理してくれる優秀なアシスタント
        </h5>
        <div class="space-50"></div>
        <div class="row landing_hero">
          <a
            [routerLink]="['/contactus']"
            (click)="clickEvent('Top contactus button clicked!')"
            class="btn btn-outline-primary btn-lg mr-1 ml-1 landing_hero_button"
            ><i class="fa fa-envelope-o"></i> お問い合わせはこちら</a
          >
          <a
            [routerLink]="['/register']"
            class="btn btn-primary btn-lg mr-1 ml-1 landing_hero_button"
          >
            <i class="nc-icon nc-tap-01"></i>
            無料で使い始める
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-5 ml-auto">
      <div class="landing_top_img">
        <img src="assets/img/landing/top_lc.png" />
      </div>
    </div>
  </div>
</div>
<!-- まだ手動で予約管理をしていますか？ -->
<div class="space-50"></div>
<div
  class="team-2 section-image"
  style="background-image: url('./assets/img/login.webp')"
>
  <div class="filter">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">まだ手動で予約を管理していますか？</h2>
          <h5 class="description">自動にすればこの問題すべてを解決できます</h5>
          <br />
        </div>
      </div>
      <div class="container-cards">
        <div class="row">
          <div class="col-md-3 col-10 ml-auto mr-auto">
            <div class="card card-just-text">
              <div class="card-body text-center">
                <img class="card" src="assets/img/landing/lcneck1.png" />
                <p class="card-description">予約のやり取りに疲れる問題</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-10 ml-auto mr-auto">
            <div class="card card-hover-effect card-just-text">
              <div class="card-body text-center">
                <img class="card" src="assets/img/landing/lcneck2.png" />
                <p class="card-description">ダブルブッキングリスク問題</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-10 ml-auto mr-auto">
            <div class="card card-hover-effect card-just-text">
              <div class="card-body text-center">
                <img class="card" src="assets/img/landing/lcneck3.png" />
                <p class="card-description">予約した日を忘れてしまう問題</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-10 ml-auto mr-auto">
            <div class="card card-hover-effect card-just-text">
              <div class="card-body text-center">
                <img class="card" src="assets/img/landing/lcneck4.png" />
                <p class="card-description">予約日時を取り間違えてしまう問題</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- レッスンカレンダーならこの問題全て解決します -->
<div class="space-50"></div>
<div class="container text-center">
  <div class="row">
    <div class="col-md-12 ml-auto mr-auto">
      <h2 class="title">
        <span style="font-weight: bold">レッスンカレンダー</span
        >なら<br />この問題全て解決します
      </h2>
      <h6 class="category">
        予約業務を機械に任せることで、本来の仕事に集中できる
      </h6>
    </div>
  </div>
</div>
<div class="space-50"></div>
<div class="container">
  <div class="row">
    <div class="col-md-10 ml-auto mr-auto">
      <div class="card card-plain card-blog">
        <div class="row">
          <div class="col-md-4">
            <div class="card-image">
              <img class="img" src="assets/img/landing/lcproblem1.png" />
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6 class="card-category text-info">
                <i class="fa fa-free-code-camp" aria-hidden="true"></i>
                Solution
              </h6>
              <h3 class="card-title">個人レッスン専用の予約管理システム</h3>
              <p class="card-description">
                レッスンカレンダーは個人レッスン専用の予約管理システムです。<br />
                簡単に操作できるので、誰でも迷わず予約でき、先生も生徒の予約状況を簡単に把握できます。
                予約管理の手間が激減します。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row landing-last-buttons landing_hero">
    <a
      [routerLink]="['/register']"
      class="btn btn-primary btn-lg mr-1 ml-1 landing_hero_button"
    >
      <i class="nc-icon nc-tap-01"></i>無料で使い始める
    </a>
  </div>
</div>
<!-- ４つの機能 -->
<div class="space-50"></div>
<div
  class="features-5 section-image"
  style="background-image: url('assets/img/landing/function_back.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="ml-auto mr-auto">
        <h2 class="title text-center">主な４つのサービス(機能)</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 ml-auto">
        <div class="info">
          <div class="icon">
            <i class="nc-icon nc-calendar-60" aria-hidden="true"></i>
          </div>
          <h4 class="title">カレンダーで予約を表示</h4>
          <p>
            手帳やアプリのように予定を確認<br />その日のレッスンを瞬時に把握
          </p>
        </div>
      </div>

      <div class="col-sm-5 mr-auto">
        <div class="info">
          <div class="icon">
            <i class="nc-icon nc-bookmark-2" aria-hidden="true"></i>
          </div>
          <h4 class="title">予約ブロック日登録</h4>
          <p>通常の営業日以外にも特別な日の時間を予約ブロックできます。</p>
        </div>
      </div>
    </div>

    <div class="row bottom-line">
      <div class="col-sm-5 ml-auto">
        <div class="info">
          <div class="icon">
            <i class="nc-icon nc-bullet-list-67" aria-hidden="true"></i>
          </div>
          <h4 class="title">生徒を一元管理できる</h4>
          <p>各生徒のレッスン予約や履歴、月のコース回数も見れて管理がラクに</p>
        </div>
      </div>

      <div class="col-sm-5 mr-auto">
        <div class="info">
          <div class="icon">
            <i class="nc-icon nc-refresh-69" aria-hidden="true"></i>
          </div>
          <h4 class="title">予約変更も自動で</h4>
          <p>
            やりとりが必要な予約の変更もシステム管理されて安心。レッスンの24時間前から変更不可能も嬉しい
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- よくある質問 -->
<div class="section section-team cd-section team-4">
  <div class="container">
    <h2 class="title text-center">よくある質問</h2>
    <div class="space-50"></div>
    <div class="col-md-10 ml-auto mr-auto">
      <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
        <ngb-panel id="config-panel-one">
          <ng-template ngbPanelTitle>
            <h5 class="mb-0 panel-title">
              <a class="collapsed">
                利用に関してお金はかかりますか？
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
            ご利用にお金はかかりません。生徒様を何人抱えていても無料でお使いいただけます。
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0 panel-title">
              <a class="collapsed">
                登録には何が必要ですか？生徒も登録が必要ですか？
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </h5>
          </ng-template>
          <ng-template ngbPanelContent
            >登録には名前、メールアドレス、パスワードが必要になります。
            生徒様も登録が必要です。
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0 panel-title">
              <a class="collapsed">
                会員登録から予約までの流れを教えてください
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
            まず先生が会員登録後、生徒様を検索し該当の生徒にリクエストを送ります。生徒様側でリクエストを承認するとすぐ予約ができる状態になります。
            生徒様は先生の設定した営業日から希望の日にちを選び、空いてる時間に予約を取ることができます。
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0 panel-title">
              <a class="collapsed">
                スマホで利用できますか？
                <i class="nc-icon nc-minimal-down"></i>
              </a>
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
            講師はスマホで業務報告、領収書アップロード、明細書閲覧が可能です。<br />
            管理側はパソコンで詳細データを確認できます。
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
<div class="space-50"></div>
<!-- 習い事専用の予約システム<br />『レッスンカレンダー』 -->
<div class="container">
  <div class="row flex_directon_reverse">
    <div class="col-md-6">
      <div class="container">
        <h2 class="title">
          個人レッスン専用の予約管理システム<br />『レッスンカレンダー』
        </h2>
        <h4 class="info-title">
          簡単に使える自動予約システムで予約のやり取りを減らし時間を節約
        </h4>
        <div class="space-50"></div>
        <div class="row landing_hero">
          <a
            [routerLink]="['/contactus']"
            (click)="clickEvent('Top contactus button clicked!')"
            class="btn btn-outline-primary btn-lg mr-1 ml-1 landing_hero_button"
            ><i class="fa fa-envelope-o"></i> お問い合わせはこちら</a
          >
          <a
            [routerLink]="['/register']"
            class="btn btn-primary btn-lg mr-1 ml-1 landing_hero_button"
          >
            <i class="nc-icon nc-tap-01"></i>
            無料で使い始める
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 ml-auto">
      <div class="landing_top_img">
        <img src="assets/img/landing/top_lc.png" />
      </div>
    </div>
  </div>
</div>
<div class="space-50"></div>
