<div class="container">
  <div class="text-center">
    <h1>
      <small>メールアドレス変更</small>
    </h1>
  </div>
  <div class="space-top"></div>
  <div class="row">
    <div class="col-md-6 mr-auto ml-auto">
      <form
        class="register-form"
        #updateUserForm="ngForm"
        (ngSubmit)="updateUser(updateUserForm)"
      >
        <div class="form-group">
          <label>新しいメールアドレス</label>
          <input
            (ngModel)="(userData.email)"
            name="email"
            type="email"
            class="form-control border-input"
            placeholder="新しいメールアドレスを入力"
            required
          />
        </div>
        <span class="icon-danger"
          >※メールアドレスの打ち間違いにご注意ください</span
        >

        <!-- <div class="form-group">
          <label>新しいパスワード（確認）</label>
          <input
            (ngModel)="(userData.passwordConfirmation)"
            name="passwordConfirmation"
            type="password"
            class="form-control"
            placeholder="新しいパスワードを入力（確認）"
            required
          />
        </div> -->
        <div class="space-top"></div>
        <button
          *ngIf="!updateUserForm.valid"
          disabled
          type="submit"
          class="btn btn-block btn-round btn-lg"
        >
          メールアドレス変更
        </button>
        <button
          *ngIf="updateUserForm.valid"
          type="submit"
          class="btn btn-primary btn-block btn-round btn-lg"
        >
          メールアドレス変更
        </button>
      </form>
      <div class="space-top"></div>
      <div *ngIf="errors && errors.length > 0" class="alert alert-danger">
        <p *ngFor="let error of errors">{{ error.detail }}</p>
      </div>
    </div>
  </div>
</div>
