<div class="wrapper">
  <div
    class="page-header page-header-small"
    data-parallax="true"
    style="background-image: url('./assets/img/lp/hamadalab/background.webp')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-left">
            <h1 class="title">真のフルスタックエンジニアを目指す</h1>
            <h5>
              プログラミング初心者からハードウェアエンジニアまで。<br />
              「本物」のエンジニアになりませんか
            </h5>
            <br />
            <div class="buttons">
              <a
                href="javascript:void(0)"
                class="btn btn-danger btn-round btn-lg"
                (click)="smoothScroll('starting')"
              >
                今すぐ始める
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div
    class="page-header page-header-small"
    data-parallax="true"
    style="background-image: url('./assets/img/lp/biritaco/background.webp')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="space-50"></div>
        <h1 class="title">浜田らぼ</h1>
        <a class="btn btn-lg btn-primary" (click)="smoothScroll('starting')"
          >今すぐ始める
        </a>
      </div>
    </div>
  </div> -->
  <div class="section section-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-blog">
            <div class="card-image">
              <a href="javascript:void(0)">
                <img
                  class="img img-raised"
                  src="./assets/img/lp/hamadalab/course_node.webp"
                />
              </a>
            </div>
            <div class="card-body">
              <!-- <h6 class="card-category text-info">Enterprise</h6> -->
              <h5 class="card-title">
                <a href="javascript:void(0)"
                  >【初心者向け】初めてのNode.js入門。Expressフレームワークを用いた本格Webサーバー構築やJSONを学ぼう！</a
                >
              </h5>
              <p class="card-description">
                最近のトレンドであるJavaScriptを用いたサーバーサイド開発を可能にするNode.jsでの本格WEBサーバー構築。GETリクエストやPOSTリクエスト使い方など、必要な開発知識を一気に手に入れよう！
                <br />
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-blog">
            <div class="card-image">
              <a href="javascript:void(0)">
                <img
                  class="img img-raised"
                  src="./assets/img/lp/hamadalab/course_electric.webp"
                />
              </a>
            </div>
            <div class="card-body">
              <!-- <h6 class="card-category text-info">Enterprise</h6> -->
              <h5 class="card-title">
                <a href="javascript:void(0)"
                  >【初心者向け】直感的にわかる！電気回路/電子回路の基礎を学ぼう</a
                >
              </h5>
              <p class="card-description">
                学生から新社会人エンジニアの方まで電気回路の基礎が学べる入門コース
                <br />
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-blog">
            <div class="card-image">
              <a href="javascript:void(0)">
                <img
                  class="img img-raised"
                  src="./assets/img/lp/hamadalab/course_angular.webp"
                />
              </a>
            </div>
            <div class="card-body">
              <!-- <h6 class="card-category text-info">Enterprise</h6> -->
              <h5 class="card-title">
                <a href="javascript:void(0)"
                  >【AngularとNode.jsで始める】JavaScript系
                  WEBアプリケーション開発コンプリートガイド①</a
                >
              </h5>
              <p class="card-description">
                Gitの基本的な使い方からSPA・フロントエンド〜バックエンド開発を一気に学べる！さらに最先端のNoSQLによるDB構築方法、HerokuによるWEBサーバー構築＆デプロイ手法を学び、WEBエンジニアリングで必要な知識を身につけよう！
                <br />
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-blog">
            <div class="card-image">
              <a href="javascript:void(0)">
                <img
                  class="img img-raised"
                  src="./assets/img/lp/hamadalab/course_postman.webp"
                />
              </a>
            </div>
            <div class="card-body">
              <!-- <h6 class="card-category text-info">Enterprise</h6> -->
              <h5 class="card-title">
                <a href="javascript:void(0)"
                  >はじめてのPostman（ポストマン）入門。HTTP通信やREST
                  APIの基礎を学び、APIデバッグ手法の基礎を学ぼう</a
                >
              </h5>
              <p class="card-description">
                ポストマンによるAPI動作検証（デバッグ）の基礎を学び、本格的なバックエンド開発やデバッグを行えるエンジニアになろう！
                <br />
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="space-top"></div>
      <div class="text-center">
        <a
          class="btn btn-lg btn-danger"
          href="https://www.youtube.com/@biritaco"
          target="_blank"
          >全コース一覧を見る
        </a>
      </div>
    </div>
  </div>
  <!-- section -->
  <div class="team-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto text-center">
          <h2 class="title">今すぐスキルを磨こう！</h2>
          <h5 class="description">
            Hamada
            Labでは初心者から上級者まで今ある知識やスキルを最大限磨き上げるお手伝いをしています。<br />”エンジニア”の様々な知識を吸収し、仕事に役立てたりサービス開発などを容易にできるようになります。
          </h5>
        </div>
      </div>
      <div class="space-top"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-profile card-plain">
            <div class="row">
              <div class="col-md-3">
                <div class="card-img-top">
                  <a href="javascript:void(0)">
                    <img
                      class="img"
                      src="assets/img/lp/hamadalab/instructor.webp"
                    />
                  </a>
                </div>
              </div>
              <div class="col-md-9">
                <div class="card-body text-left">
                  <h4 class="card-title">Atsushi Hamada</h4>
                  <h6 class="card-category">講師</h6>
                  <p class="card-description">
                    Hamada Labに来ていただきありがとうございます。<br />
                    幼少期からものづくりに興味を持ち、父の影響でエンジニアの道を志しました。
                    ハードウェアとソフトウェア、どちらも好きで気づいたらフルスタックエンジニアになっていました。<br />
                    しかしその道は決して平坦ではなく、幾度とない挫折も味わいました。
                    Hamada
                    Labのメンバーには私が通ってきた道で挫折しないように、今までの知識と経験をもとにしたコンテンツを活かしてもらいたいと思っています。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="testimonials-1 section-image"
    style="background-image: url('assets/img/lp/hamadalab/review_bg.webp')"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title">コース受講者の声</h2>
          <h5 class="description">
            コースを受講した方の感想を一部抜粋して紹介します。
          </h5>
        </div>
      </div>
      <div class="space-top"></div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-testimonial">
            <div class="card-icon">
              <i class="fa fa-quote-right" aria-hidden="true"></i>
            </div>
            <div class="card-body">
              <p class="card-description">
                Angularの知識が全くない状態で受講したのですが、挫折しないように配慮されていてとても助かりました。説明もわかりやすく細かいところも教えてくれているので理解が深まりました。
                何回も繰り返し見てAngular習得しようと思います！
              </p>
              <div class="card-footer">
                <h6 class="card-category">30代女性</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-testimonial">
            <div class="card-icon">
              <i class="fa fa-quote-right" aria-hidden="true"></i>
            </div>
            <div class="card-body">
              <p class="card-description">
                解説は丁寧でわかりやすいですし、将来像も見据えた学習方法を教えていただきました
              </p>
              <div class="card-footer">
                <h6 class="card-category">20代男性</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-testimonial">
            <div class="card-icon">
              <i class="fa fa-quote-right" aria-hidden="true"></i>
            </div>
            <div class="card-body">
              <p class="card-description">
                10年以上のブランクを経てプログラミングの仕事に復帰することになり、こちらの講座を受講しました。
                コードを書きながら・動作を確認しながら進むので終えるまでに１日掛かりました。
                内容については、満足しています！ありがとうございました。
              </p>
              <div class="card-footer">
                <h6 class="card-category">40代男性</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="faq">
        <h4>よくある質問</h4>
        <br />
        <ngb-accordion #acc="ngbAccordion">
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <h5 class="mb-0 panel-title">
                <a class="collapsed">
                  質問 1
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </ng-template>
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. 3 wolf moon officia aute, non
              cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
              on it squid single-origin coffee nulla assumenda shoreditch et.
              Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
              nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them
              accusamus labore sustainable VHS.
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <h5 class="mb-0 panel-title">
                <a class="collapsed">
                  質問 2
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </ng-template>
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. 3 wolf moon officia aute, non
              cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
              on it squid single-origin coffee nulla assumenda shoreditch et.
              Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
              nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them
              accusamus labore sustainable VHS.
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <h5 class="mb-0 panel-title">
                <a class="collapsed">
                  質問 3
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </h5>
            </ng-template>
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. 3 wolf moon officia aute, non
              cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
              on it squid single-origin coffee nulla assumenda shoreditch et.
              Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
              nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them
              accusamus labore sustainable VHS.
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>

  <!-- <div class="pricing-4 section section-dark" id="starting">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title">基礎知識習得動画一覧</h2>
          <h5 class="description">
            Youtubeで電子工作をする基礎知識の一部を公開
          </h5>
        </div>
      </div>
      <div class="space-top"></div>
      <div class="row">
        <div class="col-md-6 ml-auto">
          <div class="iframe-container">
            <iframe
              src="https://www.youtube.com/embed/c1Tr0tEW0bI"
              title="電気回路/電子回路/電子工作を始めよう！"
              frameborder="0"
              allowfullscreen
              height="305"
            ></iframe>
          </div>
        </div>
        <div class="col-md-6 mr-auto">
          <div class="iframe-container">
            <iframe
              src="https://www.youtube.com/embed/lcIfd91rLYE"
              title="電気回路図の書き方を学ぼう"
              frameborder="0"
              allowfullscreen
              height="305"
            ></iframe>
          </div>
        </div>
      </div>
      <div class="space-top"></div>
      <div class="text-center">
        <a
          class="btn btn-lg btn-primary"
          href="https://www.youtube.com/@biritaco"
          target="_blank"
          >Youtubeでもっと見る
        </a>
      </div>
    </div>
  </div> -->

  <!-- Call to action -->
  <!-- <div class="pricing-4 section section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">役立つメルマガ登録</h2>
          <h5 class="description">
            ビリタコ王国の最新情報やスペシャルクーポンを受け取れます<br />
            メルマガ登録でビリーさん完全オリジナル<br />
            <span class="neon_shadow">「初心者のための学習ロードマップ」</span
            >プレゼント！！
          </h5>
        </div>
      </div>
      <div class="space-top"></div>

      <app-subscription-form></app-subscription-form>
    </div>
  </div> -->
</div>

<nav id="cd-vertical-nav">
  <ul>
    <li>
      <a data-number="1" (click)="smoothScroll('starting')">
        <span class="cd-dot"></span>
        <span class="cd-label">Starting</span>
      </a>
    </li>
  </ul>
</nav>
