<div class="space-50"></div>
<div class="main">
  <div class="container">
    <div class="author">
      <!-- レビュー募集中 -->
      <span class="badge badge-pill badge-primary mr-1">レビュー募集中</span>
      <!-- 公開申請中 -->
      <!-- <span class="badge badge-pill badge-warning mr-1">公開申請中</span> -->
      <!-- 完了 -->
      <!-- <span class="badge badge-pill badge-success mr-1">完了</span> -->
    </div>
    <h3>
      マッチングアプリでなかなかマッチしません
    </h3>
    <div class="space-top"></div>
    <div>
      <label class="link-primary">詳細</label>
      <h5>
        思い切ってマッチングアプリを始めましたが、そもそもマッチができないです。何がいけないのかをレビューお願いします。<br />
        以下がプロフィールです。<br />
        初めまして！たくさんの男性会員の中からプロフィールを見ていただいてありがとうございます。<br />
        <br />
        <br />
        仕事は小規模ですが会社を経営しています。
        都内でパーソナルジムのお店を複数運営していて、新店舗を出すことが近々の目標です。<br /><br />
        外食に頼ることが多いので、ここ数年で美味しいお店には結構詳しくなりました。<br />
        友人からは食べログよりも信頼できるとよく言われます。笑<br /><br />
        特にお肉とお酒が好きで、おすすめのお店が沢山あるので、仲良くなれた方には是非案内させて欲しいです。<br /><br />
        カフェでまったりコーヒーを飲む時間も好きなので、おすすめのカフェがあれば行ってください
      </h5>
    </div>
    <div class="space-top"></div>

    <div>
      <label class="link-primary">自分が思う１番の問題点</label>
      <h5>
        文章が面白くない点
      </h5>
    </div>
    <div class="space-top"></div>

    <div>
      <label class="link-primary">現在のレビュー数</label>
      <h5>
        3/5
      </h5>
      <p>
        レビュー数が全て集まるとレビューを閲覧できるようになります。集まるまでしばらくお待ちください。
      </p>
    </div>
    <!-- 依頼が完了したら出る -->
    <!-- レビュー一覧 -->
    <!-- <div class="row">
      <div class="col-12 col-md-6 ml-auto mr-auto">
        <div class="media">
          <div class="media-body">
            <h5 class="media-heading text-muted">20代女性　事務職</h5>
            <div class="pull-right">
              <a
                href="javascript:void(0)"
                class="btn btn-info btn-outline-default pull-right"
              >
                <i class="fa fa-thumbs-up"></i> ベストレビュー</a
              >
            </div>
            <p>問題点</p>
            <h5 class="card-title">髪型が今っぽくなくてダサい印象を受ける</h5>
            <p>改善案</p>
            <h5 class="card-title">
              顔がキリッとしているので高良健吾のオールバックの時のような髪型にしてそれに合わせて眉毛なども整えると清潔感とワイルドさが出てかっこよくなると思う
            </h5>
          </div>
        </div>
        <div class="media">
          <div class="media-body">
            <h5 class="media-heading text-muted">20代女性　事務職</h5>
            <div class="pull-right">
              <a
                href="javascript:void(0)"
                class="btn btn-info btn-outline-default pull-right"
              >
                <i class="fa fa-thumbs-up"></i> ベストレビュー</a
              >
            </div>
            <p>問題点</p>
            <h5 class="card-title">髪型が今っぽくなくてダサい印象を受ける</h5>
            <p>改善案</p>
            <h5 class="card-title">
              顔がキリッとしているので高良健吾のオールバックの時のような髪型にしてそれに合わせて眉毛なども整えると清潔感とワイルドさが出てかっこよくなると思う
            </h5>
          </div>
        </div>
        <div class="media">
          <div class="media-body">
            <h5 class="media-heading text-muted">カウンセラー</h5>
            <div class="pull-right">
              <a
                href="javascript:void(0)"
                class="btn btn-info btn-outline-default pull-right"
              >
                <i class="fa fa-thumbs-up"></i> ベストレビュー</a
              >
            </div>
            <p>問題点</p>
            <h5 class="card-title">髪型が今っぽくなくてダサい印象を受ける</h5>
            <p>改善案</p>
            <h5 class="card-title">
              顔がキリッとしているので高良健吾のオールバックの時のような髪型にしてそれに合わせて眉毛なども整えると清潔感とワイルドさが出てかっこよくなると思う
            </h5>
          </div>
        </div>
        <div class="media">
          <div class="media-body">
            <h5 class="media-heading text-muted">20代女性　医療職</h5>
            <div class="pull-right">
              <a
                href="javascript:void(0)"
                class="btn btn-info btn-outline-default pull-right"
              >
                <i class="fa fa-thumbs-up"></i> ベストレビュー</a
              >
            </div>
            <p>問題点</p>
            <h5 class="card-title">髪型が今っぽくなくてダサい印象を受ける</h5>
            <p>改善案</p>
            <h5 class="card-title">
              顔がキリッとしているので高良健吾のオールバックの時のような髪型にしてそれに合わせて眉毛なども整えると清潔感とワイルドさが出てかっこよくなると思う
            </h5>
          </div>
        </div>
        <div class="media">
          <div class="media-body">
            <h5 class="media-heading text-muted">20代女性　営業職</h5>
            <div class="pull-right">
              <a
                href="javascript:void(0)"
                class="btn btn-info btn-outline-default pull-right"
              >
                <i class="fa fa-thumbs-up"></i> ベストレビュー</a
              >
            </div>
            <p>問題点</p>
            <h5 class="card-title">髪型が今っぽくなくてダサい印象を受ける</h5>
            <p>改善案</p>
            <h5 class="card-title">
              顔がキリッとしているので高良健吾のオールバックの時のような髪型にしてそれに合わせて眉毛なども整えると清潔感とワイルドさが出てかっこよくなると思う
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="space-top"></div> -->
    <!-- 改善報告 -->
    <!-- <div class="text-center">
      <h5>改善が成功したら報告をしてみましょう</h5>
      <p>改善成功報告で次回から使える<br />無料レビュー依頼券をゲット</p>
      <a
        class="btn btn-magnify btn-primary btn-round btn-lg"
        [routerLink]="['']"
        >改善したことを報告する</a
      >
    </div> -->
    <!-- 依頼が完了したら出る ここまで-->
    <div class="space-top"></div>

    <div class="text-center">
      <a
        class="btn btn-magnify btn-primary btn-round btn-lg"
        [routerLink]="['notification']"
        >マイページへ戻る</a
      >
    </div>
  </div>
</div>
