<div class="space-50"></div>
<div class="main">
  <div *ngIf="errors && errors.length > 0" class="alert alert-danger">
    <p *ngFor="let error of errors">{{ error.detail }}</p>
  </div>
  <div class="container" *ngIf="post">
    <div class="author">
      <!-- レビュー募集中 -->
      <span
        *ngIf="post.status === 'active'"
        class="badge badge-pill badge-primary mr-1"
        >レビュー募集中</span
      >
      <!-- 公開申請中 -->
      <span
        *ngIf="post.status === 'pending'"
        class="badge badge-pill badge-warning mr-1"
        >公開申請中</span
      >
    </div>
    <h3>
      {{ post.postname }}
    </h3>
    <div class="space-top"></div>
    <div>
      <label class="link-primary">詳細</label>
      <h5 style="white-space: pre-line;">
        {{ post.description }}
      </h5>
    </div>
    <div class="space-top"></div>

    <div>
      <label class="link-primary">自分が思う１番の問題点</label>
      <h5>
        {{ post.bottleneck }}
      </h5>
    </div>
    <div class="space-top"></div>

    <div *ngIf="post.status === 'active'">
      <label class="link-primary">現在のレビュー数</label>
      <h5>
        {{post.feedbacks.length}}件/5件
      </h5>
      <p>
        レビュー数が全て集まるとレビューを閲覧できるようになります。集まるまでしばらくお待ちください。
      </p>
    </div>
    <div class="space-top"></div>

    <div class="text-center">
      <a
        class="btn btn-magnify btn-primary btn-round btn-lg"
        [routerLink]="['/users/mypage']"
        >マイページへ戻る</a
      >
    </div>
  </div>
</div>
