<div class="wrapper">
  <div
    class="page-header page-header-xs settings-background"
    style="background-image: url('./assets/img/lp/back-image.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="space-top"></div>
        <h1 class="title">Terms</h1>
        <h5 class="description">利用規約</h5>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="space-top"></div>
    <app-terms-text></app-terms-text>
  </div>
</div>
