.badge {
  font-weight: bold;
}
.media .avatar {
  width: 36px;
  height: 36px;
}
.line36 {
  line-height: 36px;
}
.progress {
  border-radius: 26px;
  height: 26px;
}
.progress-personal {
  height: 12px;
  margin-bottom: 0.75rem;
}
