<div class="wrapper" *ngIf="userData">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="media-area">
            <h3 class="text-center">お知らせ</h3>
            <hr />

            <div *ngIf="userData.pendingTeachers">
              <div class="media">
                <div
                  class="media-body"
                  *ngFor="let pendingTeacher of userData.pendingTeachers"
                >
                  <div class="pull-right">
                    <h6 class="text-muted">2023年8月11日 11:54</h6>
                  </div>
                  <h5 class="media-heading">
                    {{ pendingTeacher.username }}先生からリクエストが届きました
                  </h5>
                  <p>
                    {{
                      pendingTeacher.username
                    }}先生からリクエストが届きました。
                    下記ボタンから承認を行なってください。
                  </p>
                  <div class="space-top"></div>
                  <button
                    class="btn btn-block btn-round"
                    (click)="acceptAddUserRequest(pendingTeacher)"
                  >
                    承認する
                  </button>
                </div>
              </div>
            </div>
            <div *ngIf="userData.notifications">
              <div class="media">
                <div
                  class="media-body"
                  *ngFor="let notification of userData.notifications"
                >
                  <div class="pull-right">
                    <h6 class="text-muted">
                      {{
                        notification.createdAt | date : "yyyy年MM月dd日 HH:mm"
                      }}
                    </h6>
                  </div>
                  <h5 class="media-heading">
                    {{ notification.title }}
                  </h5>
                  <p>
                    {{ notification.description }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
