<div class="main">
  <div class="container">
    <div class="space-top"></div>
    <div class="row">
      <div class="col-12 col-md-8 ml-auto mr-auto">
        <div class="media-area">
          <h3 class="text-center">みんなのレビュー依頼一覧</h3>
          <hr />
          <div class="row" *ngIf="posts && posts.length > 0">
            <div
              class="col-12 col-md-6 ml-auto mr-auto"
              *ngFor="let post of posts; let i = index"
            >
              <a
                class="card card-blog"
                *ngIf="post"
                routerLink="/post/detail/{{ post._id }}"
              >
                <div class="card-body">
                  <div class="author">
                    <span
                      class="badge badge-pill badge-primary mr-1"
                      *ngIf="post.status === 'active'"
                      >レビュー募集中</span
                    >
                    <span
                      class="badge badge-pill badge-success mr-1"
                      *ngIf="post.status === 'done'"
                      >完了</span
                    >
                  </div>

                  <h5 class="card-title">
                    <a href="javascript:void(0)">{{post.postname}}</a>
                  </h5>
                  <p class="card-description">{{post.description}} <br /></p>
                  <hr />
                  <div class="card-footer text-right">
                    <span> レビュー3件/5件</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="space-top"></div>
        </div>
      </div>
    </div>
  </div>
</div>
