<div class="wrapper">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="media-area">
            <h3 class="text-center">お知らせ</h3>
            <hr />
            <div class="media">
              <div class="media-body">
                <div class="pull-right">
                  <h6 class="text-muted">2023年8月11日 11:54</h6>
                </div>
                <h5 class="media-heading">
                  のののはさんからレッスンリクエストが届きました
                </h5>
                <p>レッスン日時：9月12日</p>
              </div>
            </div>
            <div class="media">
              <div class="media-body">
                <div class="pull-right">
                  <h6 class="text-muted">2023年8月19日 11:54</h6>
                </div>
                <h5 class="media-heading">
                  来月の先生のスケジュールが公開されました
                </h5>

                <p>
                  来月の先生のスケジュールが公開されました。
                  カレンダーから予約を行なってください。
                </p>
              </div>
            </div>
            <div class="media">
              <div class="media-body">
                <div class="pull-right">
                  <h6 class="text-muted">2023年8月19日 11:54</h6>
                </div>
                <h5 class="media-heading">
                  来月の先生のスケジュールが公開されました
                </h5>

                <p>
                  来月の先生のスケジュールが公開されました。
                  カレンダーから予約を行なってください。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
