<nav class="navbar navbar-expand-lg fixed-top nav-down" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/']">ビリタコ王国</a>
      </div>
      <button
        class="navbar-toggler navbar-burger"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()"
      >
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <!-- <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <div ngbDropdown class="nav-item dropdown">
          <div class="nav-link dropdown-toggle" ngbDropdownToggle>Examples</div>
          <div
            ngbDropdownMenu
            class="dropdown-menu dropdown-menu-right dropdown-danger"
          >
            <a class="dropdown-item" [routerLink]="['/examples/aboutus']"
              ><i class="nc-icon nc-bank"></i>&nbsp; About Us</a
            >
            <a class="dropdown-item" [routerLink]="['/examples/addproduct']"
              ><i class="nc-icon nc-basket"></i>&nbsp; Add Product</a
            >
            <a class="dropdown-item" [routerLink]="['/examples/blogpost']"
              ><i class="nc-icon nc-badge"></i>&nbsp; Blog Post</a
            >
            <a class="dropdown-item" [routerLink]="['/examples/blogposts']"
              ><i class="nc-icon nc-bullet-list-67"></i>&nbsp; Blog Posts</a
            >
            <a class="dropdown-item" [routerLink]="['/examples/contactus']"
              ><i class="nc-icon nc-mobile"></i>&nbsp; Contact Us</a
            >
            <a class="dropdown-item" [routerLink]="['/examples/discover']"
              ><i class="nc-icon nc-world-2"></i>&nbsp; Discover</a
            >
          </div>
        </div>
        <li class="nav-item">
          <a
            class="btn btn-round btn-danger"
            href="https://www.creative-tim.com/product/paper-kit-2-pro-angular"
          >
            <i class="nc-icon nc-cart-simple"></i> Buy now
          </a>
        </li>
      </ul>
    </div> -->
  </div>
</nav>
