<div class="text-center">
  <h2>
    <small>こんにちは<br />{{ auth.getUsername() }}先生</small>
  </h2>
</div>

<!-- <ng2-adsense
  [adClient]="'ca-pub-xxxxxxxxxxxxxxx'"
  [adFormat]="'auto'"
  [display]="'block'"
  [width]="320"
  [height]="108"
>
</ng2-adsense> -->
<div class="text-center">
  <br />
  <a class="btn btn-primary btn-round" [routerLink]="['block']">
    <i class="nc-icon nc-calendar-60"></i> &nbsp;
    来月の予約ブロック日時を設定する
  </a>
  <br />
  <br />
  <a [routerLink]="['manage-block']" class="btn btn-link btn-danger"
    >来月の予約ブロック日時を削除する</a
  >
</div>
<div class="space-top"></div>
<div class="row">
  <div class="col-md">
    <!-- <div class="nav-tabs-navigation"> -->
    <!-- <div class="nav-tabs-wrapper"> -->
    <ul
      ngbNav
      #nav="ngbNav"
      [(activeId)]="active"
      class="nav nav-tabs justify-content-center"
      type="pills"
    >
      <li class="nav-item" [ngbNavItem]="1">
        <a class="nav-link" ngbNavLink> 生徒一覧</a>
      </li>
      <li class="nav-item" [ngbNavItem]="2">
        <a class="nav-link" ngbNavLink> 予約一覧 </a>
      </li>
    </ul>
    <!-- </div> -->
    <!-- </div> -->
    <div *ngIf="active === 1">
      <div class="text-center">
        <a
          class="btn btn-magnify btn-primary btn-round"
          [routerLink]="['/teacher/search']"
        >
          <i class="nc-icon nc-simple-add"></i> &nbsp; 生徒を追加する
        </a>
      </div>
      <div class="space-top"></div>
      <div class="row" *ngIf="myStudents && myStudents.length > 0">
        <div class="col-md ml-auto mr-auto">
          <div class="table-responsive">
            <table class="table table-hover table-shopping">
              <thead>
                <tr>
                  <th>生徒名</th>
                  <th>レッスン時間/月回数</th>
                  <th>リストから削除</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let myStudent of myStudents">
                  <td>
                    <a [routerLink]="['../student-bookings', myStudent._id]">
                      {{ myStudent.username }}
                    </a>
                  </td>
                  <td>
                    <a [routerLink]="['edit-student', myStudent._id]">
                      {{ myStudent.courseTime }}分 / {{ myStudent.perMonth }}回
                    </a>
                  </td>
                  <td>
                    <a
                      (click)="removeUserRequest(myStudent)"
                      class="btn btn-link btn-danger"
                    >
                      削除
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="" *ngIf="active === 2">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>
</div>
