<div class="text-center">
  <h2>
    <small>こんにちは<br />{{ auth.getUsername() }}先生</small>
  </h2>
</div>

<!-- <ng2-adsense
  [adClient]="'ca-pub-xxxxxxxxxxxxxxx'"
  [adFormat]="'auto'"
  [display]="'block'"
  [width]="320"
  [height]="108"
>
</ng2-adsense> -->
<br />
<div class="row">
  <div class="col-md mr-auto ml-auto text-center">
    <a class="btn btn-primary btn-round" [routerLink]="['block']">
      <i class="nc-icon nc-calendar-60"></i> &nbsp;
      来月の予約ブロック日時を設定する
    </a>
  </div>
</div>
<br />
<div class="col-md mr-auto ml-auto text-center">
  <a [routerLink]="['manage-block']" class="btn btn-link btn-danger"
    >来月の予約ブロック日時を削除する</a
  >
</div>
<div class="space-top"></div>
<div class="container">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>
