<section id="booking-selecter">
  <form>
    <div class="form-group">
      <div
        class="input-group date"
        [ngClass]="{ 'input-group-focus': focus === true }"
      >
        <input
          [(ngModel)]="selectedDate"
          (ngModelChange)="onDateSelect($event)"
          name="selectedDate"
          [readonly]="true"
          [owlDateTime]="dt1"
          [owlDateTimeTrigger]="dt1"
          [min]="minDate"
          [max]="maxDate"
          class="form-control"
          placeholder="日付を選択"
          (focus)="focus = true"
          (blur)="focus = false"
        />
        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>

        <div class="input-group-append">
          <span
            [owlDateTimeTrigger]="dt1"
            class="glyphicon glyphicon-calendar input-group-text"
          >
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </form>
  <div class="space-top"></div>
  <div
    *ngIf="timeTables && timeTables.length > 0 && !isDateBlock_flg"
    class="info"
  >
    <div *ngFor="let timeTable of timeTables">
      <p>
        <button
          *ngIf="isValidBooking(timeTable)"
          class="btn btn-primary"
          (click)="selectDateTime(timeTable)"
        >
          {{ timeTable.format("HH:mm") }} スタート
        </button>
        <button
          *ngIf="!isValidBooking(timeTable)"
          class="btn"
          [disabled]="true"
        >
          完売！
        </button>
      </p>
    </div>
  </div>
  <ng-container *ngIf="timeTables.length == 0 || isDateBlock_flg">
    <div class="separator"></div>
    <div class="info">
      <div class="icon icon-warning">
        <i class="nc-icon nc-cart-simple"></i>
      </div>
      <div class="description">
        <h4 class="info-title">Thank you</h4>
        <p>本日分は完売しました</p>
        <div class="space-top"></div>
      </div>
    </div>
    <div class="separator"></div>
  </ng-container>
</section>
