<div class="wrapper">
  <div
    class="page-header page-header-small"
    data-parallax="true"
    style="background-image: url('./assets/img/lp/biritaco/background.webp')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="space-50"></div>
        <h1 class="title">電子工作を身近に、楽しく</h1>
        <a class="btn btn-lg btn-primary" (click)="smoothScroll('starting')"
          >今すぐ始める
        </a>
      </div>
    </div>
  </div>

  <div class="projects-2 section section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h6 class="text-muted">Our SERVICE</h6>
          <h2 class="title">電子工作ができる<br />ビリタコ王国</h2>
        </div>
      </div>
      <div class="space-top"></div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-plain">
            <div class="card-img-top">
              <img
                class="img"
                alt="ブレッドボードの使い方"
                src="assets/img/lp/biritaco/1.webp"
              />
            </div>
            <div class="card-body">
              <h4 class="card-title text-center neon_shadow">初心者むけ</h4>
              <p class="card-description">
                ビリタコは初心者むけのサービスです。知識ゼロでも楽しく、徹底的にわかりやすく学べるコンテンツが揃っています。
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-plain">
            <div class="card-img-top">
              <img
                class="img"
                alt="テスター（デジタルマルチメーター）の使い方"
                src="assets/img/lp/biritaco/2.webp"
              />
            </div>
            <div class="card-body">
              <h4 class="card-title text-center neon_shadow">無料で基礎習得</h4>
              <p class="card-description">
                ビリタコ王国では、電子工作を作るのに必須な基礎知識の一部を無料で提供しています。
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-plain">
            <div class="card-img-top">
              <img
                class="img"
                alt="はんだごての使い方"
                src="assets/img/lp/biritaco/3.webp"
              />
            </div>
            <div class="card-body">
              <h4 class="card-title text-center neon_shadow">簡単解説</h4>
              <p class="card-description">
                難しく感じやすい電気を誰でも理解できるように、簡単でわかりやすく解説しているので挫折せずに電子工作ができます。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="project-4 section section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">
            難しそうな電気回路も<br />
            タコと一緒に簡単に楽しく学習
          </h2>
        </div>
      </div>
      <div class="space-top"></div>

      <div class="row">
        <div class="col-md-6">
          <div class="card-image">
            <img
              class="img"
              alt="電気回路理論を動画で分かりやすく解説"
              src="assets/img/lp/biritaco/learn01.webp"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-plain">
            <h6 class="card-category">Learn 01</h6>
            <h3 class="card-title neon_shadow">Youtube動画で学ぶ</h3>
            <p class="card-description">
              ビリタコチャンネルでは電気回路の知識が全くない状態から学べる動画を揃えています。
              全て５〜１0分程度で、同じように知識がないタコが生徒として一緒に勉強するスタイルなので、挫折せずに電気回路が学べます。
            </p>
          </div>
        </div>
      </div>
      <div class="space-top"></div>

      <div class="row flex_directon_reverse">
        <div class="col-md-6">
          <div class="card card-plain">
            <h6 class="card-category">Learn 02</h6>
            <h3 class="card-title neon_shadow">実際に作って学ぶ</h3>
            <p class="card-description">
              ビリタコでは自分で作って楽しい！を最重要視しているので、一緒に電子工作をしていく構成になっています。
              使う機材は安価で簡単に手に入るものばかりなので安心して購入していただけます。
            </p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-image">
            <img
              class="img"
              alt="学んだ知識で実際に回路設計にチャレンジできる"
              src="assets/img/lp/biritaco/learn02.webp"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pricing-4 section section-dark" id="starting">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title">基礎知識習得動画一覧</h2>
          <h5 class="description">
            Youtubeで電子工作をする基礎知識の一部を公開
          </h5>
        </div>
      </div>
      <div class="space-top"></div>
      <div class="row">
        <div class="col-md-6 ml-auto">
          <div class="iframe-container">
            <iframe
              src="https://www.youtube.com/embed/c1Tr0tEW0bI"
              title="電気回路/電子回路/電子工作を始めよう！"
              frameborder="0"
              allowfullscreen
              height="305"
            ></iframe>
          </div>
        </div>
        <div class="col-md-6 mr-auto">
          <div class="iframe-container">
            <iframe
              src="https://www.youtube.com/embed/lcIfd91rLYE"
              title="電気回路図の書き方を学ぼう"
              frameborder="0"
              allowfullscreen
              height="305"
            ></iframe>
          </div>
        </div>
      </div>
      <div class="space-top"></div>
      <div class="text-center">
        <a
          class="btn btn-lg btn-primary"
          href="https://www.youtube.com/@biritaco"
          target="_blank"
          >Youtubeでもっと見る
        </a>
      </div>
    </div>
  </div>
  <!-- 本格的に学びたい人向け動画 -->
  <div class="pricing-4 section section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">本格的に学びたい人向け動画</h2>
          <h5 class="description">
            元シリコンバレーエンジニアのビリーさんによる<br />
            「【初心者向け】直感的にわかる！電気回路/電子回路の基礎を学ぼう」
          </h5>
        </div>
      </div>
      <div class="space-top"></div>
      <div class="text-center">
        <a
          class="btn btn-lg btn-primary"
          href="https://www.udemy.com/course/denki-kiso/?referralCode=96EBE164EF48D5EFAC0A"
          target="_blank"
          >Udemyで見る
        </a>
      </div>
      <div class="relative">
        <img
          class="img tacoimg"
          alt="タコ"
          src="assets/img/lp/biritaco/taco.webp"
        />
      </div>
    </div>
  </div>
  <!-- COMING SOON -->
  <div class="pricing-4 section section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title neon_shadow">COMING SOON</h2>
          <h5 class="description">
            ビリーさんによる新コースやビリタコ動画を随時更新中！<br />
            ビリタコ王国もこれから機能追加していくので楽しみにしててね！
          </h5>
        </div>
      </div>
    </div>
  </div>
  <!-- はじめてでも、作りたいものが作れる -->
  <div class="pricing-4 section section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h3 class="title">はじめてでも、作りたいものが作れる</h3>
          <h5 class="description">
            初心者でもこれが作りたいを作れるようになること。<br />
            楽しく挫折せずに完成すること。<br />
            <br />
            電子工作を楽しく作れるようになる<br />
            そんな人が1人でも増えますように<br />
            ビリタコ王国はそんな思いを込めています。<br />
            <br />
            電子工作の扉を開くあなたをサポートします。
          </h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Call to action -->
  <div class="pricing-4 section section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">役立つメルマガ登録</h2>
          <h5 class="description">
            ビリタコ王国の最新情報やスペシャルクーポンを受け取れます<br />
            メルマガ登録でビリーさん完全オリジナル<br />
            <span class="neon_shadow">「初心者のための学習ロードマップ」</span
            >プレゼント！！
          </h5>
        </div>
      </div>
      <div class="space-top"></div>

      <app-subscription-form></app-subscription-form>
    </div>
  </div>

  <!-- Twitter -->
  <div class="pricing-4 section section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-7 ml-auto mr-auto text-center">
          <h2 class="title">Twitter</h2>
          <a
            id="twitter"
            class="twitter-timeline"
            data-height="600"
            href="https://twitter.com/biritaco?ref_src=twsrc%5Etfw"
            >Tweets by biritaco</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<nav id="cd-vertical-nav">
  <ul>
    <li>
      <a data-number="1" (click)="smoothScroll('starting')">
        <span class="cd-dot"></span>
        <span class="cd-label">Starting</span>
      </a>
    </li>
  </ul>
</nav>
