<div
  class="page-header"
  style="
    background-image: url('./assets/img/landing-my-best-teacher/hero_back.webp');
  "
>
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title">
            Experience the Joy of Music Learning with My Best Teacher
          </h1>
          <h5 class="description">Find Your Best Teacher Right Now!</h5>
          <br />
          <a
            (click)="smoothScroll('starting')"
            class="btn btn-primary btn-lg mr-1 ml-1 landing_hero_button"
          >
            <i class="nc-icon nc-tap-01"></i>
            Get Started!
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="section section-components section-dark">
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="image-container">
        <img
          class="components-macbook"
          src="./assets/img/landing-my-best-teacher/laptop-basic.png"
          alt=""
        />
        <img
          class="table-img"
          src="./assets/img/landing-my-best-teacher/table.jpg"
          alt=""
        />
        <img
          class="share-btn-img"
          src="./assets/img/landing-my-best-teacher/share-btn.png"
          alt=""
        />
        <img
          class="coloured-card-btn-img"
          src="./assets/img/landing-my-best-teacher/coloured-card-with-btn.png"
          alt=""
        />
        <img
          class="coloured-card-img"
          src="./assets/img/landing-my-best-teacher/coloured-card.png"
          alt=""
        />
        <img
          class="social-img"
          src="./assets/img/landing-my-best-teacher/social-row.png"
          alt=""
        />
        <img
          class="pin-btn-img"
          src="./assets/img/landing-my-best-teacher/pin-btn.png"
          alt=""
        />
      </div>
    </div>
    <div class="col-md-10 col-lg-4 ml-auto mr-auto">
      <div class="container basic-container">
        <h3 class="title">Anytime <br />Anywhere <br />Enjoy Music</h3>
        <div class="space-top"></div>
        <h5 class="description">
          Online at your favorite time<br />
          Learn from your best teacher
        </h5>
      </div>
    </div>
  </div>
</div> -->
<!-- どっちか -->
<div class="space-110"></div>
<div class="blog-3">
  <div class="container">
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <br />
        <div class="card card-plain card-blog">
          <div class="row">
            <div class="col-md-6">
              <div class="card-image img-shadow" style="border-radius: 8px">
                <img
                  class="img"
                  src="assets/img/landing-my-best-teacher/mbt_cap.jpg"
                />
              </div>
            </div>
            <div class="col-md-6">
              <h2 class="">Anytime <br />Anywhere <br />Enjoy Music</h2>
              <h3 class="card-title">
                Online at your favorite time<br />
                Learn from your best teacher
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-1">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">What is My Best Teacher</h2>
        <h5 class="description">
          My Best Teacher" is a platform for online 1-on-1 music lessons
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-3">
        <div class="info">
          <div class="icon icon-primary">
            <i class="nc-icon nc-world-2"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Choice</h4>
            <p class="description">
              Choose your favorite teachers from all over the world.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="info">
          <div class="icon icon-primary">
            <i class="nc-icon nc-laptop"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Place</h4>
            <p>Learn anywhere you want, completely online.</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="info">
          <div class="icon icon-primary">
            <i class="nc-icon nc-note-03"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Play</h4>
            <p>Learn at your own pace from your best teacher.</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="info">
          <div class="icon icon-primary">
            <i class="nc-icon nc-refresh-69"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Change</h4>
            <p>You can change teachers every month if needed.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blog-2 section section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <h2 class="title text-center">See the teachers.</h2>
        <br />
        <div class="row gap-16">
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-image">
                <img
                  class="img img-raised"
                  src="assets/img/landing-my-best-teacher/teacher1.jpg"
                />
              </div>
              <div class="card-body">
                <h6 class="card-category text-info">Piano</h6>
                <div class="author">
                  <span>Miku John</span>
                </div>
                <h5 class="card-title">
                  <a href="javascript:void(0)">Chopin lovers wanted</a>
                </h5>
                <p class="card-description">
                  Hello everyone, I am an active pianist. My specialty is Chopin
                  and I can play ...
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-image">
                <img
                  class="img img-raised"
                  src="assets/img/landing-my-best-teacher/teacher2.jpg"
                />
              </div>
              <div class="card-body">
                <h6 class="card-category text-info">Piano</h6>
                <div class="author">
                  <span>Amanda Schoeneburg</span>
                </div>
                <h5 class="card-title">
                  <a href="javascript:void(0)">Beginners welcome</a>
                </h5>
                <p class="card-description">
                  Hello! I couldn't play at all at first and cried a lot. But I
                  never gave up. I want to...
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-image">
                <img
                  class="img img-raised"
                  src="assets/img/landing-my-best-teacher/teacher3.jpg"
                />
              </div>
              <div class="card-body">
                <h6 class="card-category text-info">Violin</h6>
                <div class="author">
                  <span>Jonas jishau</span>
                </div>
                <h5 class="card-title">
                  <a href="javascript:void(0)">Careful teaching</a>
                </h5>
                <p class="card-description">
                  I have taught violin to 3000 students. The violin looks
                  difficult, but it ...
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="space-top"></div>
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto text-center">
            <a
              (click)="smoothScroll('starting')"
              class="btn btn-primary btn-lg mr-1 ml-1 landing_hero_button"
            >
              <i class="nc-icon nc-tap-01"></i>
              Get Started!
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Call to action -->
<div
  class="pricing-4 section section-dark"
  style="
    background-image: url('./assets/img/landing-my-best-teacher/construct.jpg');
  "
  id="starting"
>
  >
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title neon_shadow">COMING SOON</h2>
        <h5 class="description">
          "My Best Teacher" is currently being built at high speed. Please sign
          up for our newsletter and wait for its completion. We look forward to
          seeing you soon.
        </h5>
      </div>
    </div>
    <div class="space-top"></div>

    <app-subscription-form></app-subscription-form>
  </div>
</div>

<nav id="cd-vertical-nav">
  <ul>
    <li>
      <a data-number="1" (click)="smoothScroll('starting')">
        <span class="cd-dot"></span>
        <span class="cd-label">Starting</span>
      </a>
    </li>
  </ul>
</nav>
