/* You can add global styles to this file, and also import other style files */
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";
.owl-dt-calendar-table {
  .owl-dt-calendar-cell-selected {
    background-color: #51cbce;
  }
  .owl-dt-calendar-cell-content {
    font-size: 1.1em;
  }
}
.owl-dt-container {
  font-size: 0.9rem;
}
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important; // Adding due to mobile header has broken when opened owl calendar.
}

// Placeholder color
.form-control {
  &::-moz-placeholder {
    color: #d2d2d2;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: #d2d2d2;
  }

  &::-webkit-input-placeholder {
    color: #d2d2d2;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// アイコンを重ねて表示、白い縁をつける
.card .author .avatar {
  margin-right: -8px;
  border: 2px solid #fff;
}
