<div class="text-center">
  <h1>
    <small>来月の予約ブロック管理</small>
  </h1>
  <div class="space-top"></div>
  <div class="row">
    <div class="col-md mr-auto ml-auto">
      <a
        class="btn btn-magnify btn-primary btn-round"
        [routerLink]="['../block']"
      >
        <i class="nc-icon nc-simple-add"></i> &nbsp;
        来月の予約ブロックを追加する
      </a>
    </div>
  </div>
  <div class="space-top"></div>

  <div class="row" *ngIf="blockBookings && blockBookings.length > 0">
    <div class="col-md ml-auto mr-auto">
      <div class="table-responsive">
        <table class="table table-hover table-shopping">
          <thead>
            <tr>
              <th>予約ブロック日</th>
              <th>時間</th>
              <th>ブロック日を削除</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let blockBooking of blockBookings">
              <ng-container *ngIf="!blockBooking.allDay">
                <td>{{ blockBooking.start | date : "MM月dd日" }}</td>
                <td>
                  {{ blockBooking.start | date : "HH:mm" }}~{{
                    blockBooking.end | date : "HH:mm"
                  }}
                </td>
              </ng-container>
              <ng-container *ngIf="blockBooking.allDay">
                <td>{{ blockBooking.start | date : "MM月dd日" }}</td>
                <td>終日</td>
              </ng-container>

              <td>
                <button
                  class="btn btn-link btn-danger"
                  (click)="deleteConfirmation(blockBooking)"
                >
                  削除
                </button>
                <!-- <a
                  (click)="removeBlock(blockBooking)"
                  (click)="removeUserRequest(myStudent)"
                  class="btn btn-link btn-danger"
                >
                  削除
                </a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
