<div class="wrapper">
  <div class="blog-1" id="blog-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="card card-plain card-blog">
            <div class="row">
              <div class="col-md-7">
                <div class="card-body">
                  <h3 class="card-title">
                    <a href="javascript:void(0)">メンバーになる</a>
                  </h3>
                  <p class="card-description">
                    今すぐメンバー登録をして20個のコースと会員限定コンテンツを楽しみましょう。
                    コミュニティに参加することで優秀なエンジニアへの道が開けます。
                    初心者から上級者まで助け合ってお互いを高めていきましょう。
                  </p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="card-image">
                  <img
                    class="img"
                    src="assets/img/lp/hamadalab/review_bg.webp"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-pricing">
            <div class="card-body">
              <h6 class="card-category text-danger">月額会員</h6>
              <h1 class="card-title">2,400円</h1>
              <p class="card-description">
                本を一冊買う価格で手軽にスキルの習得を始められます。<br />
                更新前であれば、いつでもキャンセルが可能で、毎月自動更新されます。
              </p>
              <a href="javascript:void(0)" class="btn btn-danger btn-round"
                >月額会員になる</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-pricing" data-color="orange">
            <div class="card-body">
              <h6 class="card-category text-success">年額会員</h6>
              <h1 class="card-title">20,000円</h1>
              <p class="card-description">
                年額会員になると8,000円を節約することが出来ます。<br />
                更新前であれば、いつでもキャンセルが可能で、毎年自動更新されます。
              </p>
              <a href="javascript:void(0)" class="btn btn-neutral btn-round"
                >年額会員になる</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="space-70"></div>
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto text-center">
          <h2 class="title">今すぐスキルを磨こう</h2>
          <h5 class="description">
            Hamada
            Labでは初心者から上級者まで今ある知識やスキルを最大限磨き上げるお手伝いをしています。<br />”エンジニア”の様々な知識を吸収し、仕事に役立てたりサービス開発などを容易にできるようになります。
          </h5>
        </div>
      </div>
      <div class="space-top"></div>
      <div class="row card-body-row">
        <div class="col-md-4 col-sm-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-button-play"></i>
            </div>
            <div class="description">
              <h4 class="info-title">全てのコースへのアクセス</h4>
              <p>
                両会員とも20コース全てにアクセスし、学ぶことが出来ます。
                コースはこれから益々拡大していきます。
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-badge"></i>
            </div>
            <div class="description">
              <h4 class="info-title">達成証明書</h4>
              <p>
                コースを修了すると達成証明書が取得できます。
                修了したコースはプロフィールページから見ることが出来ます。
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-tap-01"></i>
            </div>
            <div class="description">
              <h4 class="info-title">アドバイスとサポート</h4>
              <p>
                コミュニティではアドバイスをする、受けるなどの交流がありスキルをより磨くのに役立ちます。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-2 section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-blog">
            <div class="card-body">
              <h6 class="card-category text-info">その他にも...</h6>
              <div class="row">
                <div class="col-md-6">
                  <h5 class="card-title">
                    全てのコースと限定コンテンツへのアクセス<br />
                    講師への質問<br />
                    コース資料のダウンロード<br />
                    自分のペースで好きなだけコースの受講が可能<br />
                    コミュニティでお悩み相談<br />
                  </h5>
                </div>
                <div class="col-md-6">
                  <h5 class="card-title">
                    コミュニティでお悩み相談<br />
                    エンジニアの仲間を増やせる<br />
                    自分で作った作品、アイデアを他の学習者や専門家へ共有して精度を上げることも可能<br />
                    企業案件や優良求人の紹介<br />
                  </h5>
                </div>
              </div>
              <p class="card-description">
                このほかにも活用方法はその人次第でいくらでも増えます<br />
              </p>
              <!-- <hr />
              <div class="card-footer">
                <div class="author">
                  <a href="javascript:void(0)">
                    <img
                      src="assets/img/faces/ayo-ogunseinde-2.jpg"
                      alt="..."
                      class="avatar img-raised"
                    />
                    <span>Mike John</span>
                  </a>
                </div>
                <div class="stats">
                  <i class="fa fa-clock-o" aria-hidden="true"></i> 5 min read
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-1" id="blog-1">
    <div class="space-top"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto text-center">
          <h2 class="title">入会者の声</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-testimonial">
            <div class="card-icon">
              <i class="fa fa-quote-right" aria-hidden="true"></i>
            </div>
            <div class="card-body">
              <p class="card-description">
                今までなんとなく打っていたコードの細かい規則を理解することでチーム開発が一気に進みました。
              </p>
              <div class="card-footer">
                <h6 class="card-category">エンジニア</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-testimonial">
            <div class="card-icon">
              <i class="fa fa-quote-right" aria-hidden="true"></i>
            </div>
            <div class="card-body">
              <p class="card-description">
                ソフトウェアとハードウェアどちらも身につけたフルスタックになりたくて入会しました。
                まだ２ヶ月目ですが、独学するより道ができていて挫折せずにこれています。
                エンジニアになれるように引き続き頑張ります！
              </p>
              <div class="card-footer">
                <h6 class="card-category">エンジニア</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-testimonial">
            <div class="card-icon">
              <i class="fa fa-quote-right" aria-hidden="true"></i>
            </div>
            <div class="card-body">
              <p class="card-description">
                電子工作でわからないことがあったので、入会しました。
                初心者だけでなく上級者の方が質問に答えてくれて、何通りかの選択肢があることに気づかせてくれました。入ってよかったです。
              </p>
              <div class="card-footer">
                <h6 class="card-category">エンジニア</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="space-top"></div>
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto text-center">
          <div class="space-70"></div>

          <h2 class="title">フルスタックエンジニアになろう</h2>
          <h5 class="description">
            ハード〜ソフトまでフルスタックエンジニアになる準備は整っています。
            あとは始めるだけ。
          </h5>
        </div>
      </div>
      <div class="space-70"></div>

      <div class="row">
        <div class="col-md-6">
          <div class="card card-pricing">
            <div class="card-body">
              <h6 class="card-category text-danger">月額会員</h6>
              <h1 class="card-title">2,400円</h1>
              <p class="card-description">
                本を一冊買う価格で手軽にスキルの習得を始められます。<br />
                更新前であれば、いつでもキャンセルが可能で、毎月自動更新されます。
              </p>
              <a href="javascript:void(0)" class="btn btn-danger btn-round"
                >月額会員になる</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-pricing" data-color="orange">
            <div class="card-body">
              <h6 class="card-category text-success">年額会員</h6>
              <h1 class="card-title">20,000円</h1>
              <p class="card-description">
                年額会員になると8,000円を節約することが出来ます。<br />
                更新前であれば、いつでもキャンセルが可能で、毎年自動更新されます。
              </p>
              <a href="javascript:void(0)" class="btn btn-neutral btn-round"
                >年額会員になる</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="space-70"></div>
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto btn-center">
          <button type="button" class="btn btn-neutral btn-round">
            よくある質問はこちら
          </button>
        </div>
        <div class="col-md-12 ml-auto mr-auto btn-center">
          <button type="button" class="btn btn-default btn-round mr-1">
            お問い合わせはこちら
          </button>
        </div>
      </div>
    </div>
    <div class="space-top"></div>
  </div>

  <div
    class="page-header page-header-small"
    data-parallax="true"
    style="background-image: url('./assets/img/lp/hamadalab/background.webp')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-left">
            <h1 class="title">真のフルスタックエンジニアを目指す</h1>
            <h5>
              プログラミング初心者からハードウェアエンジニアまで。<br />
              「本物」のエンジニアになりませんか
            </h5>
            <br />
            <div class="buttons">
              <a
                href="javascript:void(0)"
                class="btn btn-danger btn-round btn-lg"
                (click)="smoothScroll('starting')"
              >
                今すぐ始める
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav id="cd-vertical-nav">
  <ul>
    <li>
      <a data-number="1" (click)="smoothScroll('starting')">
        <span class="cd-dot"></span>
        <span class="cd-label">Starting</span>
      </a>
    </li>
  </ul>
</nav>
