<div class="main">
  <div class="container">
    <div class="space-top"></div>

    <div class="row">
      <div class="col-12 col-md-8 ml-auto mr-auto">
        <div class="media-area">
          <div class="text-center">
            <h3>レビュー依頼一覧</h3>
            <hr />
            <a
              class="btn btn-magnify btn-primary btn-round btn-lg"
              [routerLink]="['/post/create']"
              >レビュー依頼を作成する</a
            >
          </div>

          <div class="space-top"></div>

          <div class="row" *ngIf="posts && posts.length > 0">
            <div
              class="col-12 col-md-6 ml-auto mr-auto"
              *ngFor="let post of posts; let i = index"
            >
              <a
                class="card card-blog"
                *ngIf="post.status === 'draft'"
                routerLink="/post/edit/{{ post._id }}"
              >
                <div class="card-body">
                  <div class="author">
                    <span class="badge badge-pill badge-default mr-1"
                      >下書き</span
                    >
                  </div>
                  <div class="stats">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    2023/03/09
                  </div>

                  <h5 class="card-title">
                    <a href="javascript:void(0)">{{post.postname}}</a>
                  </h5>
                  <p class="card-description">{{post.description}} <br /></p>
                </div>
              </a>
              <a
                class="card card-blog"
                *ngIf="post.status === 'pending' || post.status === 'active'"
                routerLink="/post/detail/{{ post._id }}"
              >
                <div class="card-body">
                  <div class="author">
                    <span
                      *ngIf="post.status === 'active'"
                      class="badge badge-pill badge-primary mr-1"
                      >レビュー募集中</span
                    >
                    <span
                      *ngIf="post.status === 'pending'"
                      class="badge badge-pill badge-warning mr-1"
                      >公開申請中</span
                    >
                  </div>
                  <div class="stats">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    2023/03/09
                  </div>

                  <h5 class="card-title">
                    <a href="javascript:void(0)">{{post.postname}}</a>
                  </h5>
                  <p class="card-description">{{post.description}} <br /></p>
                  <div
                    *ngIf="post.status === 'active'"
                    class="card-footer text-right"
                  >
                    <hr />
                    <span> レビュー{{post.reviews.length}}件/5件</span>
                  </div>
                </div>
              </a>
              <a
                class="card card-blog"
                *ngIf="post.status === 'done'"
                routerLink="/post/result/{{ post._id }}"
              >
                <div class="card-body">
                  <div class="author">
                    <span class="badge badge-pill badge-success mr-1"
                      >完了</span
                    >
                  </div>
                  <div class="stats">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    2023/03/09
                  </div>

                  <h5 class="card-title">
                    <a href="javascript:void(0)">{{post.postname}}</a>
                  </h5>
                  <p class="card-description">{{post.description}} <br /></p>
                  <div class="card-footer text-right">
                    <hr />
                    <span> レビュー5件/5件</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="space-top"></div>
          <div class="text-center">
            <a
              class="btn btn-magnify btn-round btn-outline-primary btn-lg"
              [routerLink]="['post/list']"
              >みんなのレビュー依頼を見る</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
